/*Thematic colors*/
:root {
  --theme-primary: #BDB76B;
  --theme-secondary: #556B2F;
  --theme-accent: #8FBC8F;
  --theme-text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, var(--theme-primary) 0%, var(--theme-secondary) 100%);
  color: var(--theme-text);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: var(--theme-accent);
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: var(--theme-accent);
  color: white;
}
.todo-container {
  min-height: 60vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.todo-category {
  min-width: 30%;
  background: var(--theme-secondary); /* for debugging; each .todo-category will have it's custom color (and/or custom font color) set upon creating in JS */
  margin: 0 0.6rem;
  padding: 2rem 0 0.5rem 0;
  border: solid var(--theme-primary) 3px;
}
.todo-category h1 {
  color: lightgrey;
  padding: 0 0.7rem;
}

.todo-list {
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: var(--theme-accent);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: var(--theme-accent);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: var(--theme-accent);
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
